<div class="stretch console panel">
  <div class="label">
    Console
    <span class="name"><strong>Console</strong></span>
    <span class="options">
      <button id="runconsole" title="ctrl + enter">Run</button>
      <button id="clearconsole" title="ctrl + l">Clear</button>
    </span>
  </div>
  <div id="console" class="stretch"><ul id="output"></ul><form>
      <textarea aria-label="Console Panel" id="exec" spellcheck="false" autocapitalize="none" rows="1" autocorrect="off"></textarea>
  </form></div>
</div>
