<div class="code stretch dataframe panel">
  <div class="label menu"><span class="name">Data <strong><a  class="fake-dropdown button-dropdown" href="#dataframeprocessors">JSON</a></strong></span>
    <div class="dropdown" id="dataframeprocessors">
      <div class="dropdownmenu processorSelector" data-type="json">
        <a href="#json">JSON</a>
        <a href="#csv">CSV</a>
      </div>
    </div>
  </div>
  <div class="editbox">
    <textarea aria-label="DataFrame Code Panel" spellcheck="false" autocapitalize="none" autocorrect="off" id="dataframe"></textarea>
  </div>
</div>
