<div class="code stretch html panel">
  <div class="label menu"><span class="name"><strong><a href="#htmlprocessors" class="fake-dropdown button-dropdown">HTML</a></strong></span><div class="dropdown" id="htmlprocessors">
      <div class="dropdownmenu processorSelector" data-type="html">
        <a href="#html">HTML</a>
        <a href="#markdown">Markdown</a>
        <a href="#jade">Jade</a>
        <a href="#convert">Convert to HTML</a>
      </div>
    </div>
  </div>
  <div class="editbox">
    <textarea aria-label="HTML Code Panel" spellcheck="false" autocapitalize="none" autocorrect="off" id="html"></textarea>
  </div>
</div>
