<div class="code stretch jasmine panel">
  <div class="label menu"><span class="name">Test <strong><a  class="fake-dropdown button-dropdown" href="#jasmineprocessors">JavaScript</a></strong></span>
    <div class="dropdown" id="jasmineprocessors">
      <div class="dropdownmenu processorSelector" data-type="jasmine">
        <a href="#test_javascript">JavaScript</a>
        <a href="#test_coffeescript">CoffeeScript</a>
        <a href="#test_jsx">JSX (React)</a>
        <a href="#test_to5">6to5</a>
        <a href="#test_traceur">Traceur</a>
        <a href="#test_typescript">TypeScript</a>
        <a href="#test_processing">Processing</a>
        <a href="#test_livescript">LiveScript</a>
        <a href="#test_convert">Convert to JavaScript</a>
      </div>
    </div>
  </div>
  <div class="editbox">
    <textarea aria-label="Jasmine Code Panel" spellcheck="false" autocapitalize="none" autocorrect="off" id="jasmine"></textarea>
  </div>
</div>
