<div class="code stretch javascript panel">
  <div class="label menu"><span class="name"><strong><a  class="fake-dropdown button-dropdown" href="#javascriptprocessors">JavaScript</a></strong></span>
    <div class="dropdown" id="javascriptprocessors">
      <div class="dropdownmenu processorSelector" data-type="javascript">
        <a href="#javascript">JavaScript</a>
        <a href="#coffeescript">CoffeeScript</a>
        <a href="#jsx">JSX (React)</a>
        <a href="#to5">6to5</a>
        <a href="#traceur">Traceur</a>
        <a href="#typescript">TypeScript</a>
        <a href="#processing">Processing</a>
        <a href="#livescript">LiveScript</a>
        <a href="#convert">Convert to JavaScript</a>
      </div>
    </div>
  </div>
  <div class="editbox">
    <textarea aria-label="JavaScript Code Panel" spellcheck="false" autocapitalize="none" autocorrect="off" id="javascript"></textarea>
  </div>
</div>
