<div id="livetest" class="stretch livetest panel">
  <div class="label">
    <span class="name"><strong>Output</strong></span>
    <span class="options">
      <button id="runwithalerts" title="ctrl + enter
                                        Include alerts, prompts &amp; confirm boxes">Run with JS</button>
      <label>Auto-run JS<input type="checkbox" id="enablejs"></label>
      <a target="_blank" title="Live Test preview" id="jsbinurl" class="{{#unless code_id}}hidden{{/unless}}" href="{{code_id_path}}"><img src="{{static}}/images/popout.png"></a>
    </span>
    <span class="size"></span>
  </div>
</div>

