<!DOCTYPE html>
<html id="jsbin" lang="en" class="{{#if flash_tip}}showtip{{/if}}{{#if embed}} embed{{/if}}{{#equal editorLayout "0"}}{{else}} layout layout{{editorLayout}}{{/equal}}">
<head>
  <meta charset=utf-8>
  <title>JS Bin - Collaborative JavaScript Debugging</title>
  <link rel="alternate" type="application/json+oembed" href="{{root}}/oembed?url={{root}}{{request.url}}">
  <link rel="icon" href="{{static}}/images/favicon.png">
  <link rel="stylesheet" href="{{static}}/css/style.css{{cacheBust}}">
  <link rel="stylesheet" href="{{static}}/css/remotty.css{{cacheBust}}">
  <link rel="stylesheet" href="{{static}}/css/flat-ui.css{{cacheBust}}">
  <link rel="stylesheet" href="{{static}}/vendor/js/components/vex/css/vex.css{{cacheBust}}">
  <link rel="stylesheet" href="{{static}}/vendor/js/components/vex/css/vex-theme-os.css{{cacheBust}}">
  <link rel="stylesheet" href="{{static}}/vendor/js/components/jquery.tablesorter/css/theme.blue.css{{cacheBust}}">
  <link rel="stylesheet" href="{{static}}/vendor/js/components/jquery.tablesorter/css/theme.blue.css{{cacheBust}}">
  <link rel="stylesheet" href="{{static}}/vendor/js/components/inlet/inlet.css{{cacheBust}}">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  {{#if custom_css}}<link rel="stylesheet" href="{{static}}/{{custom_css}}{{cacheBust}}">{{/if}}
  {{#equal editorLayout "0"}}{{else}}<link rel="stylesheet" href="{{static}}/css/editor-layout.css{{cacheBust}}">{{/equal}}
  <!--[if lte IE 9 ]><link rel="stylesheet" href="{{static}}/css/ie.css{{cacheBust}}"><![endif]-->
  {{#if is_production}}
    {{> analytics}}
  {{/if}}
  <meta name="description" content="A live pastebin for HTML, CSS & JavaScript and a range of processors, including SCSS, CoffeeScript, Jade and more..." />
  {{#if bin}}
  <meta property="og:url" content="{{root}}{{code_id_path}}/edit" />
  <meta property="og:title" content="JS Bin" />
  <meta property="og:description" content="Sample of the bin: {{bin.metadata.summary}}" />
  {{else}}
  <meta property="og:url" content="{{root}}" />
  <meta property="og:title" content="JS Bin" />
  <meta property="og:description" content="A live pastebin for HTML, CSS & JavaScript and a range of processors, including SCSS, CoffeeScript, Jade and more..." />
  {{/if}}
  <meta property="og:image" content="{{static}}/images/logo.png" />
</head>
<!--[if lt IE 7]>  <body class="source ie ie6"> <![endif]-->
<!--[if IE 7]>     <body class="source ie ie7"> <![endif]-->
<!--[if gt IE 7]>  <body class="source ie">     <![endif]-->
<!--[if !IE]><!--> <body class="source {{#if private}}private{{else}}public{{/if}}">    <!--<![endif]-->
{{#unless embed}}
   <script>
   if(top != self) {
     window.location = '{{embedURL}}';
     document.write('<' + '!--');
   }
   </script>
   <a href="#html" id="skipToEditor" class="visuallyhidden">Skip welcome & menu and move to editor</a>
   
  {{#feature request "welcomePanel"}}
    {{> welcome_panel}}
  {{/feature}}
{{/unless}}

{{>top_menu}}
{{>bin_panels}} <!-- panels -->
{{>tip}}
{{>keyboard_help}}
{{>url_help}}

{{#unless embed}}
{{>infocard}}
{{/unless}}

<!--[if lte IE 8]>
<script src="{{static}}/vendor/js/libraries/jshint/jshint.old.min.js"></script>
<script> document.write('<!--'); </script>
<![endif]-->

<script src="{{static}}/vendor/js/libraries/jshint/jshint.min.js"></script>

-->

<script src="{{static}}/vendor/js/libraries/jquery-1.11.0.min.js"></script>
{{!-- we use the passed in version of isProduction here, not the the app global as we need to be able to switch it - even when in production --}}
{{#if isProduction}}
<script>
  // start({{{json_template}}}, {{{jsbin}}}, this, document);
  window.template = {{{json_template}}};
  window.jsbin = {{{jsbin}}};
</script>
<!-- <script src="{{static}}/js/prod/jsbin-{{version}}.min.js"></script> -->
<script src="{{static}}/vendor/js/libraries/rsvp.js"></script>
<script src="{{static}}/vendor/js/libraries/jquery-migrate.js"></script>
<script src="{{static}}/vendor/js/components/jquery-cookie/jquery.cookie.js"></script>
<script src="{{static}}/vendor/js/components/jquery.tablesorter/js/jquery.tablesorter.min.js"></script>
<script src="{{static}}/vendor/js/components/jquery.tablesorter/js/jquery.tablesorter.widgets.min.js"></script>
<script src="{{static}}/vendor/js/components/list.js/dist/list.min.js"></script>
<script src="{{static}}/vendor/js/components/vex/js/vex.combined.min.js"></script>
<script src="{{static}}/vendor/js/libraries/pretty-date.js"></script>
<script src="{{static}}/vendor/js/libraries/polyfills.js"></script>

<script src="{{static}}/vendor/js/components/codemirror/lib/codemirror.js"></script>
<script src="{{static}}/vendor/js/components/codemirror/mode/xml/xml.js"></script>
<script src="{{static}}/vendor/js/components/codemirror/mode/css/css.js"></script>
<script src="{{static}}/vendor/js/components/codemirror/mode/javascript/javascript.js"></script>
<script src="{{static}}/vendor/js/components/codemirror/mode/htmlmixed/htmlmixed.js"></script>

<script src="{{static}}/vendor/js/libraries/cm_addons/emmet.js"></script>

<script src="{{static}}/vendor/js/components/codemirror/addon/dialog/dialog.js"></script>
<script src="{{static}}/vendor/js/components/codemirror/addon/search/searchcursor.js"></script>
<script src="{{static}}/vendor/js/components/codemirror/addon/search/search.js"></script>

<script src="{{static}}/vendor/js/libraries/cm_addons/simple-hint.js"></script>

<script src="{{static}}/vendor/js/components/codemirror/addon/hint/anyword-hint.js"></script>

<script src="{{static}}/vendor/js/libraries/cm_addons/javascript-hint.js"></script>

<script src="{{static}}/vendor/js/components/codemirror/addon/edit/matchbrackets.js"></script>
<script src="{{static}}/vendor/js/components/codemirror/addon/comment/comment.js"></script>

<script src="{{static}}/vendor/js/libraries/cm_addons/lint/javascript-lint.js"></script>
<script src="{{static}}/vendor/js/libraries/cm_addons/lint/lint.js"></script>

<script src="{{static}}/vendor/js/libraries/lz-string-1.3.3.js"></script>
<script src="{{static}}/vendor/js/libraries/cm_addons/cm-highlight-line.js"></script>
<script src="{{static}}/vendor/js/components/typehead.js/dist/typeahead.bundle.min.js"></script>
<script src="{{static}}/vendor/js/libraries/json2.js"></script>
<script src="{{static}}/vendor/js/libraries/bin-to-file.min.js"></script>
<script src="{{static}}/vendor/js/libraries/prettyprint.js"></script>
<script src="{{static}}/vendor/js/libraries/loop-protect.min.js"></script>
<script src="{{static}}/vendor/js/libraries/s3upload.js"></script>
<script src="{{static}}/vendor/js/components/inlet/inlet.min.js"></script>
<script src="{{static}}/vendor/js/components/backbone/backbone.js"></script>
<script src="{{static}}/js/prod/app.bundle.js"></script>

{{else}}
<script>
window.template = {{{json_template}}};
window.jsbin = {{{jsbin}}};
</script>
  {{#if concat}}
<script src="{{static}}/js/prod/jsbin-{{version}}.js"></script>
  {{else}}
  {{#scripts}}<script src="{{../static}}{{.}}{{cacheBust}}"></script>{{/scripts}}
  {{/if}}
  {{#addons}}<script src="{{../static}}{{.}}{{cacheBust}}"></script>{{/addons}}
{{/if}}
{{#if live}}
<script src="{{static}}/vendor/js/libraries/eventsource.js{{cacheBust}}"></script>
<script src="{{static}}/js/spike.js{{cacheBust}}"></script>
{{/if}}
</body>
</html>

